@tailwind base;
@tailwind components;
@tailwind utilities;


/* Using the downloaded fonts */
@font-face {
    font-family: 'Pacifico';
    src: url('/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppings';
    src: url('/fonts/Poppings/Poppings-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppings';
    src: url('/fonts/Poppings/Poppings-Black.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Kalam';
    src: url('/fonts/Kalam/Kalam-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
.ql-editor.ql-blank::before {
    color: gray;
}
/* Font Style for the Logo */
.pacificoFont {
    font-family: "Pacifico", sans-serif;
    font-weight: 700;
    font-style: normal;   
}
.poppingsFont {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.kalamFont {
    font-family: "Kalam", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.poppingsFontBlack {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

body {
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.ql-editor {
    font-size: 1.05rem;
}

.post-content p {
    margin-bottom: 0.5rem;
}

.post-content h1 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 1.5rem 0;
}
.post-content h2 {
    font-size: 1.3rem;
    font-family: sans-serif;
    margin-top: 1.3rem 0;
}
.post-content h3 {
    font-size: 1.15rem;
    font-family: sans-serif;
    margin-top: 1.15rem 0;
}

.post-content a {
    color: rgb(73, 149, 199);
    text-decoration: none;
}

.post-content ul {
    margin-left: 50px;
}
.post-content li {
    list-style-type: disc;
}




.oops {
    background-image: url('/images/oops.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 150px;

}